<head>
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <form action="/auth/signup" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="username">Email</label>
      <input type="text" name="email" id="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <button type="submit" id="signup">Signup</button>
    </div>
  </form>
  <a href="/">Login</a>
</body>